<nav id="navbar-main" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="navbar-container">
      <div class="navbar-header">
          <a class="navbar-brand" href="#/">Vinz</a>
      </div>

      <ul class="nav navbar-nav pull-right">
          <li>
            <a href="#/login">
              Sign Up
            </a>
          </li>
        </ul>
    </div>
</nav>


<div class="container">
	<div class="card signin-card">
	  <form class="form-signin">
	    <input type="text" class="form-control" placeholder="Email address" required autofocus>
	    <input type="password" class="form-control" placeholder="Password" required>
	    <label class="checkbox">
	      <input type="checkbox" value="remember-me"> Remember me
	    </label>
	    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign In</button>
	  </form>
	</div>

</div> 
