<div class="container">
    <div class="sectionBanner">
      <div class="sectionTitle">
        SERVERS
      </div>
      <div class="sectionButtons">
          <div class="btn btn-default">
            NEW SERVER
          </div>
          <div class="right-inner-addon">
              <input ng-model="serverSearch" type="text" class="form-control" placeholder="Search">
              <i class="fa fa-search"></i>
          </div>
      </div>
    </div>

    <p>{{urlTest}}</p>

    <table class="serverTable table table-hover table-striped table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Hostname</th>
          <th>Details</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="server in servers | filter:serverSearch">
          <td>{{server.name}}</td>
          <td>{{server.hostname}}</td>
          <td><div class="btn btn-default serverInfoBtn"><i class="fa fa-sign-in"></i></div></td>
        </tr>
    </tbody>
    </table>
</div>

<script type="text/javascript">
$(function() {
  $(".navbar-nav li").removeClass("active");
  $("#servers-nav").addClass("active");
});
</script>