<nav id="navbar-main" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="navbar-container">
      <div class="navbar-header">
          <a class="navbar-brand" href="#/">Vinz</a>
      </div>

      <div class="navbar-main">
        <ul class="nav navbar-nav">
            <li><a href="#/">Servers</a></li>
            <li><a href="#/notifications">Notifications</a></li>
            <li class="active"><a href="#/test">Settings</a></li>
        </ul>
      </div>
        <ul class="nav navbar-nav pull-right">
          <li>
            <a href="#/login">
              jhummel@iastate.edu
            </a>
          </li>
        </ul>
      </div>
    </div>
</nav>


<div class="container">
	<h2>Vinz Clortho</h2>
	<img src="images/vinz_clortho_sm.png" alt="I'm Vinz">
	<br>
	<h4>
  		Welcome, gatekeepers!
  	</h4>

	<ul>
		<li ng-repeat="keeper in gateKeepers">{{keeper}}</li>
	</ul>
</div>