body {
  background-color: #EBE7EB;
}

.container {
  width: 80%;
}

@media (max-width: 1200px) {
  .container {
    width: 95%;
  }
}

.navbar {
  border: 0 none;
  background: #cc0000;
  border-radius: 0px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  background-color: #b30000;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: #b30000;
}

.active {
  background-color: #b30000;
}

.navbar-toggle {
  border: 1px solid white;
}

.navbar-toggle .icon-bar {
  background-color: white;
}

.navbar a {
  color: white;
  letter-spacing: 0.3px;
}

.navbar .navbar-brand {
  font-family: 'Oleo Script Swash Caps', cursive;
  color: white;
  border: 1px solid #b30000;
  border-width: 0 1px 0 0;
  font-size: 28px;
}

.navbar .navbar-brand:hover {
  color: #b30000;
  background-color: white;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.navbar .account {
  border: 1px solid #b30000;
  border-width: 0 0 0 1px;
}

.btn .caret {
  margin-left: 3px;
}

.bordered {
  border: 1px solid #b30000;
  border-width: 0 1px;
}

.dropdown-toggle {
    cursor: pointer;
}

.sectionBanner {
  background: white;
  border: 1px solid #dddddd;
  width: 100%;
  margin-left: 0px;
}

.sectionBannerTitle {
  text-align: center;
}

.sectionTitle {
  color: #45494d;
  font-size: 22px;
  line-height: 42px;
}

.sectionBody {
  margin-top: 5px;
  margin-bottom: 5px;
}

.right-inner-addon {
    position: relative;
}
.right-inner-addon input {
    padding-right: 15px;    
}
.right-inner-addon i {
    position: absolute;
    right: 15px;
    top: 10px;
    padding: 0px 11px;
    pointer-events: none;
}

.form-group input {
  margin-bottom: 5px;
}

.backButton {
  position: absolute;
  color: #afafaf;
  margin-top: 4px;
  margin-left: 4px;
  z-index: 100;
}

.backButton:hover {
  color: #45494d;
  cursor: pointer;
  text-decoration: none;
}

