
/* Space out content a bit */
body {
  font-family: 'Open Sans', sans-serif;
  padding-top: 80px;
  padding-bottom: 20px;
  font-weight: 400;
  background-color: #EBE7EB;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 100%;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* NAV */
.navbar {
  border: 0 none;
  background: #cc0000;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  height: 70px;
  font-size: 14px;
}

.navbar-default .navbar-nav > li > a {
  text-shadow: none;
  color: #EBE7EB;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  line-height: 40px;
}

.navbar-default .navbar-nav > li > a:hover {
  color: white;
  background-color: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.navbar-default .navbar-brand {
  font-family: 'Oleo Script Swash Caps', cursive;
  color: white;
  font-size: 32px;
  line-height: 40px;
  border: 1px solid #b30000;
  border-width: 0 1px;
}

.navbar-default .navbar-brand:hover {
  color: #b30000;
  background-color: white;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: white;
  background: #b30000;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.navbar-dropdown {
  border: 1px solid #b30000;
  border-width: 0 1px;
}

.navbar-dropdown:hover {
  color: white;
  background-color: #b30000;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #b30000;
  background-color: white;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.dropdown-toggle {
    cursor: pointer;
}

.sectionBanner {
  background: white;
  border: 1px solid #dddddd;
  height: 40px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 10px;
}

.sectionTitle {
  text-shadow: none;
  color: #45494d;
  font-size: 20px;
  line-height: 40px;
  float: left;
}

.sectionBody {
  float: right;
  width: 320px;
  margin-top: 2px;
}

.right-inner-addon {
    position: relative;
    float: right;
}
.right-inner-addon input {
    padding-right: 10px;    
}
.right-inner-addon i {
    position: absolute;
    right: 0px;
    top: 10px;
    padding: 0px 11px;
    pointer-events: none;
}

.form-group input {
  margin-bottom: 5px;
}

.closeButton a {
  margin-top: 3px;
  float: right;
  color: #afafaf;
}

.closeButton a:hover {
  color: #45494d;
  cursor: pointer;
  text-decoration: none;
}

