
/* Space out content a bit */
body {
  padding-top: 80px;
  padding-bottom: 20px;
  font-weight: 400;
  background-color: #f7f5f2;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 100%;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* NAV */
.navbar {
  border: 0 none;
  background: rgba(255,255,255,0.98);
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  height: 70px;
  font-size: 14px;
}

.navbar-default .navbar-nav > li > a {
  text-shadow: none;
  color: #afafaf;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  line-height: 40px;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #45494d;
  background-color: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.navbar-default .navbar-brand {
  color: #afafaf;
  font-size: 32px;
  line-height: 40px;
  border: 1px solid #eeeff0;
  border-width: 0 1px;
}

.navbar-default .navbar-brand:hover {
  color: #45494d;
  background-color: #f6f6f6;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #45494d;
  background: rgba(255,255,255,0.98);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.navbar-dropdown {
  border: 1px solid #eeeff0;
  border-width: 0 1px;
}

.navbar-dropdown:hover {
  background-color: #f6f6f6;
}

.sectionBanner {
  background: white;
  border: 1px solid #e7e7e7;
  height: 40px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 10px;
}

.sectionTitle {
  text-shadow: none;
  color: #45494d;
  font-size: 20px;
  line-height: 40px;
  float: left;
}

.sectionBody {
  float: right;
  width: 320px;
  margin-top: 2px;
}

.right-inner-addon {
    position: relative;
    float: right;
}
.right-inner-addon input {
    padding-right: 30px;    
}
.right-inner-addon i {
    position: absolute;
    right: 0px;
    top: 10px;
    padding: 0px 11px;
    pointer-events: none;
}

.form-group input {
  margin-bottom: 5px;
}

/*
==============================================
slideLeft
==============================================
*/


.slideLeft{
  animation-name: slideLeft;
  -webkit-animation-name: slideLeft;  

  animation-duration: .5s; 
  -webkit-animation-duration: .5s;

  animation-timing-function: ease-in-out; 
  -webkit-animation-timing-function: ease-in-out;   

  -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/
   -moz-animation-fill-mode:forwards; /*FF 5+*/
   -o-animation-fill-mode:forwards; /*Not implemented yet*/
   -ms-animation-fill-mode:forwards; /*IE 10+*/
   animation-fill-mode:forwards; /*when the spec is finished*/

  visibility: visible !important; 
}

@keyframes slideLeft {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-105%);
  }
}

@-webkit-keyframes slideLeft {
  0% {
    -webkit-transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-105%);
  }
}

/*
==============================================
slideRight
==============================================
*/

.slideRight{
  animation-name: slideRight;
  -webkit-animation-name: slideRight; 

  animation-duration: .5s; 
  -webkit-animation-duration: .5s;

  animation-timing-function: ease-in-out; 
  -webkit-animation-timing-function: ease-in-out;

  -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/
   -moz-animation-fill-mode:forwards; /*FF 5+*/
   -o-animation-fill-mode:forwards; /*Not implemented yet*/
   -ms-animation-fill-mode:forwards; /*IE 10+*/
   animation-fill-mode:forwards; /*when the spec is finished*/

  visibility: visible !important; 
}

@keyframes slideRight {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(105%);
  }
}

@-webkit-keyframes slideRight {
  0% {
    -webkit-transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(105%);
  }
}