<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <link rel="stylesheet" href="static/css/bootstrap.css" />

    <link rel="stylesheet" href="static/css/font-awesome.min.css" />

    <link href='http://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps' rel='stylesheet' type='text/css'>
    
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="static/css/styles.css">
  </head>
  <body ng-app="vinzApp">
    <!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand bordered" href="#">Vinz</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li id="logs-nav"><a href="#/logs">Logs</a></li>
            <li id="servers-nav" class="dropdown navbar-dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown">Servers</a>
              <ul class="dropdown-menu">
                <li><a href="#/servers">Individual</a></li>
                <li><a href="#/server_groups">Groups</a></li>
              </ul>
            </li>
            <li id="users-nav" class="dropdown navbar-dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown">Users</a>
              <ul class="dropdown-menu">
                <li><a href="#/users">Individual</a></li>
                <li><a href="#/user_groups">Groups</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown bordered navbar-dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown">{{ g.user.email }}<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#/public_key">My Public Keys</a></li>
                <li><a href="#">Account</a></li>
                <li><a href="#">Settings</a></li>
                <li class="divider"></li>
                <li><a href="/logout/">Log Out</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <!-- Add your site or application content here -->
    <div id="vinzApp" class="container" ng-view=""></div>

    <script src="static/js/jquery.js"></script>
    <script src="static/js/bootstrap.js"></script>
    <script src="static/js/app.js"></script>

    <script>
       var currentUser = {
        "id": "{{g.user.id}}"
       }
       app.value("user", currentUser);
    </script>

    <script src='//10.24.85.106:3000/socket.io/socket.io.js'></script>
<script>var ___socket___ = io.connect('http://10.24.85.106:3000');</script>
<script src='//10.24.85.106:3001/client/browser-sync-client.0.7.0.js'></script>

</body>
</html>
