Flask==0.10.1
Flask-Login==0.2.10
Flask-RESTful==0.2.12
Flask-Script==0.6.7
Flask-WTF==0.9.5
Jinja2==2.7.2
MarkupSafe==0.21
PyYAML==3.11
WTForms==1.0.5
Werkzeug==0.9.4
ansible==1.5.5
crontab==0.18
flask-mongoengine==0.7.0
itsdangerous==0.24
mock==1.0.1
mongoengine==0.8.7
nose==1.3.0
paramiko==1.13.0
passlib==1.6.2
py-bcrypt==0.4
pycrypto==2.6
pymongo==2.7
six==1.6.1
wsgiref==0.1.2
