<div class="container">
  <style>
    #dashboard {
      background-color: white;
      margin-left: 0;
      width: 100%;
      text-align: center;
    }

    #chartOne {
      height: 600px;
    }

    .stat {
      padding: 10px;
    }

    .statRow {
      padding-top: 20px;
    }

    .chart-container {
      margin: 15px;
    }
  </style>

  <!-- Section Header -->
  <div class="row sectionBanner">
    <div class="col-xs-4 sectionTitle">
      Dashboard
    </div>
  </div>


  <div id="dashboard" class="row statRow">
    <div class="col-xs-3">
      <div class="stat well">
        <h3>Users</h3>
        <h3>{{stats.user_count}}</h3>
      </div>
    </div>
    <div class="col-xs-3">
      <div class="stat well">
        <h3>User Groups</h3>
        <h3>{{stats.user_group_count}}</h3>
      </div>
    </div>
    <div class="col-xs-3">
      <div class="stat well">
        <h3>Servers</h3>
        <h3>{{stats.server_count}}</h3>
      </div>
    </div>
    <div class="col-xs-3">
      <div class="stat well">
        <h3>Server Groups</h3>
        <h3>{{stats.server_group_count}}</h3>
      </div>
    </div>
    <div class="chart-container">
      <div class="chartOneContainer col-xs-12 stat well">
        <highchart id="chart_data" config="chartConfig"></highchart>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
$(function() {

  $(".navbar-nav li").removeClass("active");
  $("#dashboard-nav").addClass("active");

});
</script>