<div class="container">

  <!-- Section Header -->
  <div class="row sectionBanner">
    <div class="col-xs-4 sectionTitle">
      Activity Logs
    </div>
    <div class="row sectionBody col-xs-offset-3 col-xs-5">
      <div class="col-xs-12 right-inner-addon">
        <input ng-model="logSearch" type="text" class="form-control" placeholder="Search">
        <i class="fa fa-search"></i>
      </div>
    </div>
  </div>

  <!-- Activity Logs Table -->
  <table class="serverTable table table-hover table-striped table-bordered">
    <thead>
      <tr>
        <th>Time</th>
        <th>Acting User</th>
        <th>Event</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="log in activityLogs | filter:logSearch" ng-init="log.timestamp = ( log.timestamp | date:'medium' )">
        <td>{{log.timestamp}}</td>
        <td>{{log.actor.first_name}} {{log.actor.last_name}}</td>
        <td>{{log.event_message}}</td>
      </tr>
    </tbody>
  </table>
</div>

<script type="text/javascript">
$(function() {
  $(".navbar-nav li").removeClass("active");
  $("#logs-nav").addClass("active");
});
</script>