<div class="container" >
  <!-- Section Header -->
  <div class="row sectionBanner">
    <a class="btn btn-default backButton" href="#/server_groups/">
      <i class="fa fa-chevron-left"></i> All Groups
    </a>
    <div class="col-sm-12 sectionTitle sectionBannerTitle">
      Server Group Dashboard
    </div>
  </div>

	<!-- Server Overview -->
	<table class="serverTable table table-hover table-bordered">
		<tbody>
			<tr>
				<th>Group Name</th>
				<td>{{serverGroup.name}}</td>
			</tr>
		</tbody>
	</table>

  <!-- Maintain Banner -->
  <div class="row sectionBanner">
    <div class="col-xs-3 sectionTitle">
      Maintain
    </div>
    <div class="sectionBody btn-group pull-right" data-toggle="buttons" style="padding-right: 5px;">
      <label class="btn btn-default active">
        <input id="maintainServers" type="radio" name="shown" checked="checked"> Servers
      </label>
      <label class="btn btn-default">
        <input id="maintainUsers" type="radio" name="shown"> Users
      </label>
      <label class="btn btn-default">
        <input id="maintainUserGroups" type="radio" name="shown"> User Groups
      </label>
    </div>
  </div>

  <br>

  <!-- Table Header -->
  <div class="row sectionBanner">
    <div class="col-xs-2 sectionTitle">
      Servers
    </div>
    <div class="row sectionBody col-xs-offset-2 col-xs-8">
      <div class="btn-group col-xs-6" data-toggle="buttons">
        <label class="btn btn-default active">
          <input id="inGroupYes" type="radio" name="access" checked="checked"> In Group
        </label>
        <label class="btn btn-default">
          <input id="inGroupNo" type="radio" name="access"> Not In Group
        </label>
      </div>
      <div class="col-xs-6 right-inner-addon">
        <input ng-model="search" type="text" class="form-control" placeholder="Search">
        <i class="fa fa-search"></i>
      </div>
    </div>
  </div>

	<!-- ServerGroup Servers Table -->
	<table id="servers" class="serverTable table table-hover table-striped table-bordered" ng-class="{'hide' : !(caseId == 0 || caseId == 1)}">
    <thead>
      <tr>
        <th>Name</th>
        <th>Hostname</th>
        <th>Group</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="server in myServers | filter:search">
        <td>{{server.name}}</td>
        <td>{{server.hostname}}</td>
        <td class="col-sm-2"><button ng-click="switchSides(server.id);" class="serverInfoBtn btn btn-{{action.buttonClass}}">{{action.message}}</button></td>
      </tr>
    </tbody>
  </table>

  <!-- ServerGroup Users Table -->
  <table id="users" class="serverTable table table-hover table-striped table-bordered" ng-class="{'hide' : !(caseId == 2 || caseId == 3)}">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Access</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="user in myUsers | filter:search">
        <td>{{user.first_name}} {{user.last_name}}</td>
        <td>{{user.email}}</td>
        <td class="col-sm-2"><button ng-click="switchSides(user.id);" class="serverInfoBtn btn btn-{{action.buttonClass}}">{{action.message}}</button></td>
      </tr>
    </tbody>
  </table>

  <!-- ServerGroup UserGroups -->
  <table id="userGroups" class="serverTable table table-hover table-striped table-bordered" ng-class="{'hide' : !(caseId == 4 || caseId == 5)}">
    <thead>
      <tr>
        <th>Group Name</th>
        <th>Hostname</th>
        <th>Access</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="userGroup in myUserGroups | filter:search">
        <td>{{userGroup.name}}</td>
        <td class="col-sm-2"><button ng-click="switchSides(userGroup.id);" class="serverInfoBtn btn btn-{{action.buttonClass}}">{{action.message}}</button></td>
      </tr>
    </tbody>
  </table>

<script type="text/javascript">
$(function() {
  var scope = angular.element($("#vinzApp")).scope();

  $(".navbar-nav li").removeClass("active");
  $("#servers-nav").addClass("active");

  //This should be doable with angular, but I couldn't get it to.
  $('input:radio[name="access"]').change(function() {
    scope.$apply(function() {
       scope.toggleInGroup();
    });
  });

  $('input:radio[name="shown"]').change(function() {
    if ($('#maintainServers').is(':checked')) {
      scope.$apply(function() {
         scope.shownInTable(0);
      });
    } else if ($('#maintainUsers').is(':checked')) {
      scope.$apply(function() {
         scope.shownInTable(2);
      });
    } else {
      scope.$apply(function() {
         scope.shownInTable(4);
      });
    }
  });
});
</script>