<div class="container animated bounceIn" >
	<!-- Section Header -->
	<div class="sectionBanner">
		<div class="sectionTitle">
			Server Dashboard
		</div>
		<div class="sectionBody">
	        <div class="closeButton">
	        	<a class="fa fa-2x fa-times" href="#/servers/"></a>
	    	</div>
		</div>
	</div>

	<!-- Server Overview -->
	<table class="serverTable table table-hover table-bordered">
		<tbody>
			<tr>
			  	<th>Id</th>
			  	<td>{{server.id}}</td>
			</tr>
			<tr>
				<th>Name</th>
				<td>{{server.name}}</td>
			</tr>
			<tr>
				<th>Hostname</th>
				<td>{{server.hostname}}</td>
			</tr>
		</tbody>
	</table>

	<h4>Users with access</h4>

	<!-- Server Users -->
	<table class="serverTable table table-hover table-striped table-bordered">
    <thead>
      <tr>
        <th>User</th>
        <th>Access Since</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Example User</td>
        <td>3/23/2014</td>
        <td><button class="btn btn-danger">Revoke</button></td>
      </tr>
    </tbody>
  </table>
</div>



<script type="text/javascript">
</script>