<div class="container" >
  <!-- Section Header -->
  <div class="row sectionBanner">
    <div class="col-sm-12 sectionTitle sectionBannerTitle">
      User Group Dashboard
    </div>
    <a class="btn btn-default backButton" href="/user_groups/">
      <i class="fa fa-chevron-left"></i> All Groups
    </a>
  </div>

	<!-- Server Overview -->
	<table class="serverTable table table-hover table-bordered">
		<tbody>
			<tr>
				<th>Group Name</th>
				<td>{{userGroup.name}}</td>
			</tr>
		</tbody>
	</table>

  <!-- Table Header -->
  <div class="row sectionBanner">
    <div class="col-xs-2 sectionTitle">
      Users
    </div>
    <div class="row sectionBody col-xs-offset-2 col-xs-8">
      <div class="btn-group col-xs-6" data-toggle="buttons">
        <label class="btn btn-default active">
          <input id="inGroupYes" type="radio" name="access" checked="checked"> In Group
        </label>
        <label class="btn btn-default">
          <input id="inGroupNo" type="radio" name="access"> Not In Group
        </label>
      </div>
      <div class="col-xs-6 right-inner-addon">
        <input ng-model="search" type="text" class="form-control" placeholder="Search">
        <i class="fa fa-search"></i>
      </div>
    </div>
  </div>

	<!-- UserGroup Users Table -->
	<table id="users" class="userTable table table-hover table-striped table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Group</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="user in myUsers | filter:search">
        <td>{{user.first_name}} {{user.last_name}}</td>
        <td>{{user.email}}</td>
        <td class="col-sm-2"><button ng-click="switchSides(user.id);" class="serverInfoBtn btn btn-{{action.buttonClass}}">{{action.message}}</button></td>
      </tr>
    </tbody>
  </table>
</div>

<script type="text/javascript">
$(function() {
  var scope = angular.element($("#vinzApp")).scope();

  $(".navbar-nav li").removeClass("active");
  $("#users-nav").addClass("active");

  //This should be doable with angular, but I couldn't get it to.
  $('input:radio[name="access"]').change(function() {
    scope.$apply(function() {
       scope.toggleInGroup();
    });
  });
});
</script>
