<div class="container" >
  <!-- Section Header -->
  <div class="row sectionBanner">
    <a class="btn btn-default backButton" href="#/users/">
      <i class="fa fa-chevron-left"></i> All Users
    </a>
    <div class="col-xs-12 sectionTitle sectionBannerTitle">
      User Dashboard
    </div>
    
  </div>

	<!-- User Overview -->
	<table class="userTable table table-hover table-bordered">
		<tbody>
			<tr>
				<th>Username</th>
				<td>{{user.username}}</td>
			</tr>
			<tr>
				<th>First Name</th>
				<td>{{user.first_name}}</td>
			</tr>
			<tr>
				<th>Last Name</th>
				<td>{{user.last_name}}</td>
			</tr>
			<tr>
				<th>Email</th>
				<td>{{user.email}}</td>
			</tr>
		</tbody>
	</table>

  <!-- Section Header -->
  <div class="row sectionBanner">
    <div class="col-xs-2 sectionTitle">
      Servers
    </div>
    <div class="sectionBody col-xs-offset-5 col-xs-5">
      <div class="right-inner-addon">
        <input ng-model="serverSearch" type="text" class="form-control" placeholder="Search">
        <i class="fa fa-search"></i>
      </div>
    </div>
  </div>

	<!-- User Servers -->
	<table class="userTable table table-hover table-striped table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Hostname</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="server in myServers | filter:serverSearch">
        <td>{{server.name}}</td>
        <td>{{server.hostname}}</td>
        <td class="col-sm-2"><a href="/servers/{{server.id}}" class="btn userInfoBtn btn btn-primary">Go</div></td>
      </tr>
    </tbody>
  </table>
</div>

<script type="text/javascript">
$(function() {
  var scope = angular.element($("#vinzApp")).scope();
  var $showAccess = $("#showAccess");

  $(".navbar-nav li").removeClass("active");
  $("#users-nav").addClass("active");

});
</script>
